body {
    background-image: url(./Assets/Background-cassete.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.keys{
    display:flex;
    flex-direction: row;
    background-color: red;
    justify-content: center;
    height: 100px;
    align-items: center;
    margin: 100px;
}