body {
    background-image: url(./Assets/Background-cassete.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.keys{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 100px;
}

.key{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: solid black;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    transition: all 2.07s;
}

.playing{
    transform: scale(1.2);
    border-color: #FFC600;
    box-shadow:0 0 10px #FFC600;
}

.sound{
    font-size: 20px;
}